<style>
    *
    {
        padding: 0;
        margin: 0;
    }
</style>

<body
    style="
        width: 100vw;
        height: 100vh;

        overflow: hidden;

        display:grid;
        grid-template-columns: 60% 40%;

        background-color: #012;
    "
>

    <div
        style="
            margin: 1rem;
        "
    >
        <img src="{{ url_for('webcam') }}">
    </div>

    <div
        style="
            margin: 1rem;

            background-color: #eee;
        "
    >

        <p id="buteta" style="white-space: pre-line;"></p>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
        <script>
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('evento', function (data) {
                document.getElementById('buteta').textContent += '\n' + data;
            });
        </script>

    </div>

</body>